<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All users</h1>
<ul>
  <% users.forEach(user => { %>
    <li>
      <a href="/user?id=<%= user.id %>"><%= user.name %></a>
      <form action="/delete" method="POST" style="display:inline;">
  <input type="hidden" name="id" value="<%= user.id %>">
  <button type="submit" onclick="return confirm('Delete user?')">x</button>
</form>

    </li>
  <% }) %>
</ul>

<a href="/create">Create user</a>
    
</body>
</html>